// nextflow.config

// include shared parameter definitions
includeConfig 'conf/params.config'

// profiles, containers, executors, etc.
profiles {

  docker_local {
    process {
      executor = 'local'
      container = params.container_trq
    }
    docker {
      enabled   = true
      runOptions = '--gpus all'
    }
  }

  slurm_singularity {
    process {
      executor = 'slurm'
      queue    = 'shen'
      container = params.container_trq

      withLabel: 'gpu' {
        clusterOptions = '--gres=gpu:4'
      }
    }
    singularity {
      enabled    = true
      autoMounts = true
      runOptions = '--nv'
    }
  }
}